$icon-font-path: '../fonts/';

// bower:scss

// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-size:20px;
  background-color: #6114cc;
  color:#fff;
  padding: 6.25%;
  transition: opacity 0.3s ease-in-out;

  .js &.show {
    opacity:1;
  }
}

.js body {
  opacity:0;
}

.js h1 {
  visibility: hidden;
  
}

a, a:visited, a:hover {
  color:#fff;
  text-decoration:  underline;
  font-weight:  bold;
}

h1,h2 {
  font-family: 'Montserrat', sans-serif;
  //border-bottom:5px solid #fff;
}

h1 {font-size:80px;}

p {
  font-family: 'Domine', serif;
}

.hero {
  position:   relative;
}

#scrollMotivator {
  position:   absolute; 
    bottom:   10%;
    
  left: 50%;
  transform: translate(-50%, -50%);
  
  img {
    
    animation-delay: 4.5s;
  }

 
}

.bounce {
  animation: bounce 1s .5s;
  transform: scale(0.85);
}

@keyframes bounce {
  0% { transform: scale(0); opacity: 1 }
  50% { transform: scale(1.6); opacity: .7; }
  60% { transform: scale(0.6); opacity: 1 }
  80% { transform: scale(0.95) }
  100% { transform: scale(1) }
}

.wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    margin: auto;
    padding: 6vh 0
}

.wrap:after {
    content: " ";
    clear: both;
    display: block
}
.wrap-width {
  max-width:  600px;
}
.herowrap{
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1080px;
    min-height: 100vh;
    margin: auto;
    padding: 5vh 0;

    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction:column;
    height: 100vh;
    min-height: 100vh
}

.wrap {
    overflow: visible;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
    min-height: 100vh
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  h1 {
    font-size:50px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size:40px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size:30px;
  }
}

.down-chevron {
    position: absolute;
    top: 73%;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

 .down-chevron svg {
    width: 100px;
    height: 50px
}


.down-chevron {
    display: inline-block;
    width: 100px;
    height: 50px;
    fill: #fff
}

.down-chevron g:not(:last-child) {
    display: none
}

.down-chevron.loaded {
    -webkit-animation: bumpChevron 4.2s infinite;
    animation: bumpChevron 4.2s infinite
}

.js .down-chevron g {
    display: inline
}